---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome" description="Welcome to my website">
  <div class="bg-slate-100 min-h-screen flex items-center justify-center p-4">
    <Welcome />
  </div>
</Layout>
